body {
  width: 100%;
  height: 100%;
}

/* ---------------------- Footer ---------------------- */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
  text-align: center;
}

/* ---------------------- Navbar ---------------------- */

li[class="nav-item active"] {
  backdrop-filter: brightness(115%);
  border-radius: 5px;
}

div.border-right {
  margin: 0 10px;
}

.navbar-toggler {
  border: none;
}

@media only screen and (max-width: 991px) {
  li {
    padding-left: 10px;
  }
}

/* ---------------------- Carousel ---------------------- */
.card-carousel {
  overflow: visible;

  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

td.active {
  cursor: pointer;

  z-index: 3;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  transition: 0.3s;
}

td.prev,
td.next {
  cursor: pointer;

  box-sizing: border-box;
  margin-bottom: 5%;
  margin-top: 10px;

  z-index: 2;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.6;
  transition: 0.3s;
}

.my-card{
  pointer-events: all;
}

/* ---- Mobile devices ---- */
@media only screen and (max-width: 991px) {
  .card-carousel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  td.active {
    position: absolute;
    top: 0;
    max-width: 70%;
  }

  td.prev,
  td.next {
    box-sizing: border-box;
    max-width: 43%;
  }

  td.prev {
    transform: translateX(-20%);
  }

  td.next {
    transform: translateX(20%);
  }
}

/* ---- Tablets, desktops ---- */
@media (min-width: 992px) {
  .card-carousel {
    position: relative;
  }

  td.active {
    position: absolute;
    width: 40%;
    top: 0;
  }

  td.prev,
  td.next {
    width: 34%;
  }

  td.prev {
    transform: translateX(-30%);
  }

  td.next {
    transform: translateX(30%);
  }
}

/* ---- Carousel icons (left & right arrows) ---- */
.chevron-left-box, .chevron-right-box{
  position: absolute;
  top: 30px;

  width: 60%;
  height: 85%;

  padding-top: 45%;
  text-align: center;

  transition: .2s;
}

@media (min-width: 992px){
  .chevron-left-box{
    left: -16vw;
  }
  
  .chevron-right-box{
    right: -16vw;
  }
}

@media only screen and (max-width: 991px) {
  .chevron-left-box{
    left: -20vw;
  }
  
  .chevron-right-box{
    right: -20vw;
  }
}

.chevron-left-box:hover{
  transform: translateX(-10%);
  transition: .2s;
}

.chevron-right-box:hover{
  transform: translateX(10%);
  transition: .2s;
}

.bi-chevron-left, .bi-chevron-right{
  color: white;
  font-size: 40px;
}

.card-carousel .my-card {
  transition: 0.3s;

  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.card-carousel td {
  border: 0;
}


/* ---------------------- Video face detection ---------------------- */

video {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);

  border-radius: 10px;
}

/* ---- Tablets, desktops ---- */
@media (min-width: 991px) {
  video,
  canvas {
    position: absolute;
    top: 15vh;
    transform: translateX(50%);
  }

  video {
    width: 720px;
    height: auto;
  }

  #modalBtn {
    position: fixed;
    right: 20px;
    top: 10%;
  }
}

/* ---- Mobile devices ---- */
@media only screen and (max-width: 991px) {
  video,
  canvas {
    position: absolute;
    width: 90%;

    box-sizing: border-box;

    margin-top: 5vh;
    transform: translateX(5.5%);
  }

  #modalBtn {
    background-color: #fff;
    z-index: 1;
    position: fixed;
    right: 20px;
    bottom: 10%;
  }
}

.alert-danger {
  margin-left: auto;
  margin-right: auto;
}
